@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: chocolate;
}

html, body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(236, 183, 103);
    height: 700px;
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid rgb(80, 33, 0);
}

header .pfp{
    height: 500px;
    width: 700px;
    border-radius: 50%;
    border:5px solid rgb(80, 33, 0);
    margin-left: 0px;
    background-color: rgb(236, 183, 103);
    text-align: center;
    padding: 20px;
    background-image: url('./../img/Goku.jpg');
    background-repeat: no-repeat;
    background-position: -210px center;
    background-size: 130%;
    margin: auto;
}

    .egg {
    border:5px solid rgb(80, 33, 0);
    height: 500px;
    width: 700px;
    border-radius: 50%;
    margin-left: 0px;
}

header h1{
      font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 80px;
    margin: 10px;
    color: rgb(214, 89, 0);
}