    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Vast+Shadow&display=swap');

/* colors 1.rgb(255, 204, 153) 
          1.chocolate
          2.rgb(236, 183, 103)
          rgb(59, 0, 0)
*/
.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: chocolate;
    font-family: "Black Ops One", system-ui;
}
html, body{
    margin: 0;
    padding: 0;
}
p, li, ol{
  line-height: 30px;
    font-size: 30px;
}
p.caption{
    font-size: 20px;
    color: gray;
    font-style: "Vast Shadow";
    margin: 0px;
}
header{
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 204, 153);
    border-bottom: 5px solid rgb(80, 33, 0);
}
header .pfp{
    height: 518px;
    width: 721px;
    border-radius: 50%;
    border:5px solid rgb(80, 33, 0);
    padding: 20px;
    background-image: url('./../img/Goku.jpg');
    background-repeat: no-repeat;
    background-position: -210px center;
    background-size: 130%;
    margin: 0 auto;
}
h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin: 0px;
  color: rgb(214, 89, 0);
}
h2{
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 60px;
  color: rgb(59, 0, 0);
  text-align: center;
}

main{
    width: 800px;
    margin: 0 auto;
}
main img{
height: 258px;
    width: 500px;
    border:5px solid rgb(80, 33, 0);
    padding: 0px;
    background-repeat: no-repeat;
    background-position: -210px center;
    margin: -10 auto;
}
